.layout{
    position:relative;
    &__info--title{
            margin-top: 50px;
            position: absolute;
            margin-left: 30px;
            display: block;
            text-decoration: none;
            z-index: 11;
        }

        &__info--title a{
            text-decoration: none;
            color: black;
        }
        
        &__info--title:hover{
            color: #6a7888; 
        }

        &__info--link{
            text-decoration: none;
            color: black;
        }
        &__info--homepage-link a {
            position: absolute;
            z-index: 10;
            bottom: 50px;
            margin-left: 30px;
            display: block;
            text-decoration: none;
            color: #6a7888;
        }
}
