@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

.layout{
    position:relative;
    &__info--title{
            @include text-block-style;
            margin-left: 30px;
            margin-top: 50px;
            z-index: 11;
        }

        &__info--title a{
            text-decoration: none;
            color: $color-gray;
        }

        &__info--homepage-link a {
            @include text-block-style;
            z-index: 10;
            bottom: 50px;
            margin-left: 30px;
            color: $color-gray;
        }
}
