.navbar{
  display: flex;
  flex-direction: column;
  &__link {
    text-transform: uppercase;
    line-height: 20px;
    animation: taadaa 1.5s;
  }
  @keyframes taadaa { 
    0% { opacity: 0.5; }
    100% { opacity: 1; }
  } 
  &__link-mobile{
    display:none;
  }
}

.navbar a{
  text-decoration: none;
  color: #000000;
  transition: all .2s ease-in;
}
.navbar a:hover{
  letter-spacing: 2px;
  color: #6a7888;
}

@media only screen and (max-width: 1024px){
  .navbar__link{
    margin-top: 64px;
    line-height: 0px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 32px;
    padding-bottom: -80px;
    text-transform: none;
      &--item{
        padding-right: 32px;
      }
  }
}

@media only screen and (max-width: 480px){
  .navbar{
    &__link{
    display: none;
    }
    &__link-mobile{
      display:flex;
      flex-direction: column;
      &--item{
        width: 85vw;
        height: 60vh;
        margin: 32px auto 0 auto;
      }
      &--item-img{
        background-size: cover;
        width: 85vw;
        height: 60vh;
        position: absolute;
      }
      &--item-title{
        color: #fff;
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
      &--item-title:hover{
        color: #6a7888;
      }
    }
  }
}

@media only screen and (max-width: 420px){
  .navbar{
    &__logo {
      font-size: 15px;
    }
    &__link-mobile{
      &--item{
        width: 80vw;
        height: 50vh;
      }
      &--item-img{
        width: 80vw;
        height: 50vh;
      }
    }
  }
}